{% extends 'FormsInterface/base.html' %}

{% block content %}
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">Get Started</h6>
          <h1 class="mb-5">Reset Password</h1>
      </div>

      <div class="row wow fadeInUp" data-wow-delay="0.1s">
        <div class="col-md-6 offset-md-4">
          <form method="POST" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}
            <button type="submit">Reset Password</button>
          </form>
        </div>
      </div>

  </div>
</div>

{% endblock %}
